<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1044460016029-p246lgon4dm4me8oinpm8h72oag4bd2b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1044460016029-p246lgon4dm4me8oinpm8h72oag4bd2b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1044460016029-30qi7viakas69gkp3b59mathhbnph1im.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAyUMeIGJiUdPtLD4eDjVCtTD5RzQ2i5oQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1044460016029</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.talk</string>
	<key>PROJECT_ID</key>
	<string>talk-qu5akx</string>
	<key>STORAGE_BUCKET</key>
	<string>talk-qu5akx.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1044460016029:ios:ad4819971dded7b3179f74</string>
</dict>
</plist>